:root {
  --white-color: #FFFFFF;
  --milky-color: #F5F6F7;
  --ivory-color: #E6E8EC;
  --lightgrey-color: #D2D5DD;
  --grey-color: #A1A6B4;
  --beige-color: #F0D288;
  --sandy-color: #BB973E;
  --red-color: #D52B1E;
  --blue-color: #0039A6;
  --lightpurpule-color: #AA9DFA;
  --violet-color: #6D31EE;
  --darkpurple-color: #4F28A5;
  --asphalt-color: #292E39;
  --darkasphalt-color: #121723;
}

@media (max-width: 1200px) {

  .container {
    max-width: 848px;
  }

  .hero {
    margin-bottom: 6px;
  }

  .header-logo {
    width: 112px;
  }

  .header-wrapper {
    padding: 30px 0 0;
    margin-bottom: 0;
  }

  .header__container {
    position: relative;
    flex-direction: column;
    row-gap: 25px;
  }

  .header-btn {
    content: "";
    position: absolute;
    top: 0;
    right: 11px;
  }

  .header__item {
    padding: 0;
  }

  .header__nav {
    border-top: 1px solid var(--ivory-color);
    border-bottom: 1px solid var(--ivory-color);
    padding: 21px 0;
  }

  .nav__link {
    padding: 0;
  }

  .header__item:not(:last-child) {
    margin-right: 105px;
  }

  .hero__wrapper {
    padding: 92px 0 86px 0;
    background-image: url(../img/microphone1024.svg);
    background-repeat: no-repeat;
    background-size: auto;
    background-position: right;
  }

  .hero__paragraph {
    margin-bottom: 21px;
  }

  .podcasts__item-content {
    min-width: 288px;
    padding: 40px 0px 0px 31px;
  }

  .transfers {
    padding-bottom: 65px;
  }

  .transfers-wrapper-buttom {
    padding-top: 114px;
    bottom: 30px;
  }

  .transfers__link {
    content: "";
    position: absolute;
    padding: 5px;
    bottom: 13px;
    left: 13px;
  }

  .guests__title {
    margin-bottom: 11px;
  }

  .guests__span {
    margin-bottom: 8px;
  }

  .guests__paragraph {
    margin-bottom: 49px;
  }

  .guests__item-paragraph {
    max-width: 362px;
  }

  .playlist-link {
    display: flex;
  }

  .playlists__span {
    margin-bottom: 31px;
  }

  .playlists__item-country {
    right: 0;
    left: 12px;
  }

  .playlists__item {
    margin-bottom: 25px;
  }

  .playlists__item-wrapper {
    margin-top: 0;
    width: 146px;
    max-height: 112px;
    padding: 39px 0 10px 10px;
  }

  .playlists {
    padding-bottom: 45px;
  }

  .buy__img {
    padding-top: 119px;
  }

  .buy__img-new {
    top: 116px;
    left: 13px;
    width: 23%;
  }

  .buy__paragraph-top {
    padding-right: 2px;
  }

  .buy__paragraph-bottom {
    margin-bottom: 24px;
  }

  .buy {
    padding-bottom: 93px;
  }

  .about {
    padding-top: 94px;
  }

  .about__wrapper {
    background-image: url(../img/About-us-bg1024.svg);
    background-position: 581px center;
  }

  .about__item {
    margin-bottom: 20px;
  }

  .about__list {
    margin-bottom: 0;
  }

  .about__input {
    width: 397px;
  }

  .footer__list {
    column-gap: 109px;
  }

  .footer__wrapper-top {
    column-gap: 26px;
  }

}

@media (max-width: 1024px) {

  .transfers-wrapper-buttom {
    display: none;
  }

  .transfers__list {
    margin-bottom: 20px;
  }

  .transfers__archive-bottom {
    display: flex;
    padding-left: 350px;
    flex-direction: column;
    justify-content: center;
    background-image: url(../img/mic.svg);
    background-repeat: no-repeat;
    background-size: auto;
    background-position: 250px 0;
  }

  .transfers__btn {
    width: 160px;
  }

  .transfers__paragraph {
    width: 255px;
  }




}

@media (max-width: 992px) {

  .container {
    width: calc(100% - 204px);
  }

  .header-wrapper {
    padding: 29px 0 0;
  }

  .header-btn {
    top: 0;
    right: 14px;
  }

  .header__nav {
    padding: 22px 0 19px 0;
  }

  .nav__item {
    font-size: 16px;
  }

  .header__item:not(:last-child) {
    margin-right: 54px;
  }

  .hero__wrapper {
    padding: 95px 0 83px 0;
    background-image: none;
  }

  .podcasts__item-content {
    min-width: 428px;
    padding: 42px 0px 0px 31px;
  }

  .podcasts__item-title {
    margin-bottom: 5px;
  }

  .podcasts__item {
    justify-content: center;
  }

  .transfers {
    margin-bottom: 24px;
    padding-bottom: 0;
  }

  .transfers-wrapper-top {
    margin-bottom: 108px;
  }

  .transfers__link {
    bottom: 11px;
    left: 11px;
  }

  .transfers__item-content {
    padding: 18px 16px 13px 15px;
  }

  .transfers__list {
    margin-bottom: 0;
    padding-bottom: 33px;
    border-bottom: 1px solid var(--ivory-color);
  }

  .transfers__archive-bottom {
    padding-top: 33px;
    padding-bottom: 5px;
    padding-left: 200px;
    background-size: 71px 94px;
    background-position: 110px 34px;
  }

  .transfers__paragraph {
    width: 250px;
  }

  .transfers__btn {
    margin-bottom: 8px;
    width: 160px;
  }

  .guests {
    padding-bottom: 26px;
  }

  .guests__span {
    margin-bottom: 8px;
  }

  .guests__item {
    flex-direction: column;
  }

  .guests__item-img {
    margin: 0 0 24px 0;
  }

  .guests__item-wrapper {
    padding-bottom: 76px;
  }


  .playlists {
    padding-top: 109px;
    padding-bottom: 61px;
  }

  .buy {
    padding-top: 47px;
  }

  .buy__wrapper-radio {
    margin-bottom: 44px;
  }

  .buy__img {
    padding-top: 8px;
    width: 100%;
  }

  .buy__img-new {
    top: 8px;
    left: 13px;
    width: 28%;
  }

  .buy__title {
    margin-bottom: 12px;
    padding-left: 1px;
    padding-right: 167px;
    padding-bottom: 36px;
    background-position: 0px 108px;
  }

  .buy__span {
    margin-bottom: 28px;
  }

  .buy__btn {
    padding: 23px 12px;
  }

  .about {
    padding-top: 96px;
  }

  .about__wrapper {
    padding-bottom: 140px;
    background-image: url(../img/About-us-bg768.svg);
    background-position: -101px bottom;
  }

  .about__input {
    width: 541px;
  }

  .footer__wrapper-left {
    display: flex;
    flex-direction: column;
    margin-bottom: 73px;
    justify-content: center;
    align-items: center;
  }

  .footer__icon {
    width: 36px;
    height: 36px;
  }

  .footer__list {
    column-gap: 155px;
    height: 112px;
    row-gap: 28px;
  }

  .footer__wrapper-top {
    margin-bottom: 78px;
  }

}

@media (max-width: 768px) {

  .container {
    width: calc(100% - 10px);
  }

  .header__nav {
    margin: 0;
    overflow: hidden;
  }

  .header__list {
    overflow: scroll;
  }

  .about__input {
    max-width: 541px;
  }

  .transfers__list {
    margin-bottom: 0px;
    padding-bottom: 29px;
    border-bottom: 1px solid var(--ivory-color);
  }

  .transfers-wrapper-buttom {
    background-size: 69px 95px;
  }

}

@media (max-width: 576px) {

  .hero__wrapper {
    padding: 40px 0 34px 0;
    background-image: none;
  }

  .hero__title {
    margin-bottom: 8px;
    font-size: 32px;
  }

  .hero__paragraph {
    margin-bottom: 20px;
    font-size: 14px;
  }

  .hero__btn {
    padding: 17px 45px;
    font-size: 16px;
  }

  .section__title {
    font-size: 24px;
  }

  .podcasts {
    padding-top: 54px;
    padding-bottom: 8px;
  }

  .podcasts__title {
    margin-bottom: 20px;
  }

  .podcasts__link {
    flex-direction: column;
  }

  .podcasts__item-date {
    left: 0;
    top: 0;
  }

  .podcasts__item-content {
    margin-top: -5px;
    padding: 42px 0px 29px 31px;
    min-width: 176px;
  }

  .playlists {
    padding-top: 70px;
    padding-bottom: 9px;
  }

  .playlists__paragraph {
    color: var(--grey-color);
    line-height: 16px;
    font-size: 12px;
  }

  .playlists__paragraph {
    font-size: 12px;
  }

  .playlists__item {
    margin-bottom: 31px;
  }

  .playlist-link {
    flex-direction: column;
  }

  .playlists__item-wrapper {
    margin-top: -6px;
    padding: 8px 0px 5px 9px;
    width: 112px;
  }

  .transfers {
    padding-top: 55px;
    padding-bottom: 5px;
  }

  .transfers__list {
    padding-bottom: 0;
  }

  .transfers-wrapper-top {
    margin-bottom: 15px;
  }

  .transfers__item-content {
    min-height: 96px;
    padding: 8px 6px 6px 10px;
  }

  .section__span {
    font-size: 9px;
  }

  .buy__span, .buy__btn-span {
  font-size: 24px;
  }

  .transfers__span {
    margin-bottom: 13px;
    width: 88px;
  }

  .transfers__link {
    padding: 0;
    width: 98px;
  }

  .transfers__link {
    bottom: 6px;
    left: 9px;
  }

  .transfers__link-span {
    font-size: 12px;
  }

  .transfers-wrapper-buttom {
    padding: 21px 0 0 94px;
    background-size: 64px 87px;
    background-position: 20px 41px;
  }

  .transfers__archive-bottom {
    padding-left: 100px;
    background-position: 24px 34px;
  }

  .transfers__paragraph {
    padding-left: 15px;
    width: 181px;
    font-size: 14px;
  }

  .buy__title {
    padding-bottom: 13px;
    background-position: center bottom;
  }

  .about__input {
    width: 280px;
  }

  .footer__list {
    column-gap: 20px;
  }

}

@media (max-width: 320px) {

  .container {
    width: 279px;
  }

  .header-wrapper {
    padding: 18px 0 0;
  }

  .header-logo {
    width: 87px;
  }

  .header-btn {
    top: -3px;
    right: 11px;
  }

  .header-container {
    row-gap: 11px;
  }

  .header__nav {
    padding: 17px 0 16px 0;
  }

  .header__item:not(:last-child) {
    margin-right: 26px;
  }

  .podcasts__item-picture {
    max-height: 72px;
  }

  .podcasts__item-content {
    margin-top: 0;
    width: 100%;
    min-height: 113px;
    padding: 30px 3px 0 15px;
  }

  .section__h3 {
    font-size: 12px;
  }

  .section__h4 {
    font-size: 12px;
  }

  .podcasts__item-time {
    font-size: 12px;
  }

  .podcasts__item-title {
    font-size: 16px;
  }

  .transfers {
    position: relative;
  }

  .transfers__list {
    margin-bottom: 156px;
    padding-bottom: 0;
  }

  .transfers__paragraph {
    margin-bottom: 6px;
  }

  .transfers__item {
    margin-bottom: 33px;
  }

  .transfers__btn {
    margin-left: 15px;
    margin-bottom: 8px;
    padding: 10px 10px 6px 10px;
    width: 111px;
  }

  .transfers__link {
    bottom: 6px;
  }

  .transfers__archive-bottom {
    position: absolute;
    content: "";
    left: 10px;
    bottom: 16px;
    flex-direction: column-reverse;
    padding: 33px 0 5px 76px;
    background-size: 75px 104px;
    background-position: 1px 34px;
  }

  .guests {
    padding-top: 56px;
    padding-bottom: 10px;
  }

  .guests__span {
    font-size: 14px;
    margin-bottom: 0;
  }

  .guests__paragraph {
    margin-bottom: 28px;
    font-size: 14px;
  }

  .guests__item-wrapper {
    padding-bottom: 71px;
  }

  .guests__item {
    margin-bottom: 23px;
  }

  .guests__item-title {
    margin-bottom: 9px;
    font-size: 20px;
  }

  .guests__item-img {
    margin: 0 0 6px 0;
  }

  .guests__btn {
    padding: 9px 13px;
  }

  .buy {
    padding-bottom: 56px;
  }

  .buy__img-new {
    width: 22%;
  }

  .buy__title {
    padding-right: 0;
    padding-bottom: 9px;
    background-image: url(../img/wave-buy320.svg);
  }

  .buy__paragraph {
    font-size: 14px;
    line-height: 160%;
  }

  .buy__paragraph-top {
    margin-bottom: 11px;
  }

  .buy__paragraph-bottom {
    margin-bottom: 5px;
  }

  .buy__span {
    margin-bottom: 19px;
  }

  .buy__btn-span {
    font-size: 16px;
  }

  .buy__btn {
    padding: 13px;
  }

  .buy__svg {
    left: 14px;
    top: 14px;
  }

  .about {
    padding-top: 56px;
    padding-bottom: 51px;
  }

  .about__span {
    margin-bottom: 2px;
    font-size: 14px;
  }

  .about__paragraph {
    font-size: 14px;
  }

  .about__wrapper {
    padding-bottom: 0px;
    background-image: none;
  }

  .about__item {
    margin-bottom: 28px;
  }

  .about__item-img {
    margin-bottom: 7px;
  }

  .about__item-title {
    margin-bottom: 6px;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.5px;
  }

  .about__item-span {
    font-size: 12px;
    line-height: 16px;
  }

  .about__textarea {
    border-radius: 19px;
  }

  .about__input {
    width: 254px;
    height: 50px;
    padding: 2px 0px 0px 22px;
    border-radius: 23px;
  }

  .about__textarea::placeholder, .about__input::placeholder {
    font-size: 16px;
  }

  .about__button {
    margin-bottom: 18px;
    width: 171px;
    padding: 17px 32px;
    font-size: 16px;
  }

  .about__checkbox-descr {
    font-size: 9px;
  }

  .footer {
    padding-top: 53px;
  }

  .footer__wrapper-left {
    margin-bottom: 79px;
  }

  .footer__link {
    font-size: 12px;
  }

  .footer__list {
    column-gap: 15px;
    height: 160px;
    row-gap: 17px;
  }

  .footer__wrapper-top {
    margin-bottom: 37px;
  }

}
