:root {
  --white-color: #FFFFFF;
  --milky-color: #F5F6F7;
  --ivory-color: #E6E8EC;
  --lightgrey-color: #D2D5DD;
  --grey-color: #A1A6B4;
  --beige-color: #F0D288;
  --sandy-color: #BB973E;
  --red-color: #D52B1E;
  --blue-color: #0039A6;
  --lightpurpule-color: #AA9DFA;
  --violet-color: #6D31EE;
  --darkpurple-color: #4F28A5;
  --asphalt-color: #292E39;
  --darkasphalt-color: #121723;
  --gap: 30px;
  --offsets: 1;
}

@media (max-width: 1200px) {

}

@media (max-width: 1024px) {

}

@media (max-width: 992px) {

}

@media (max-width: 768px) {

}

@media (max-width: 576px) {

}

@media (max-width: 320px) {

}
